body {
    text-align: center;
}

h1, h2 {
    font-weight: bolder;
    font-size: 32pt;
}

.start {
    padding: 80px;
    background-color: #2D8B58;
    color: white;
    font-size: 20pt;
}

.stop {
    padding: 80px;
    background-color: tomato;
    color: white;
    font-size: 20pt
}